.head-container{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding-bottom: 0px;
    font-style:normal;
    font-family: sans-serif;
    font-size: 30px;
    color: #008080;
}
.head-name-container{
    font-size: 12px;
    margin-top: 0px;
    margin-right: 10px;
    color: #333333;
    font-family: sans-serif;
}
.aleft{
    margin-left: 20px;
}
.choose:active{
    color: #008080;
    font-weight: bold;
}